<div class="container d-flex">
    <div class="container border border-dark p-3">
    <partial name="RegisterPartial"></partial>
    </div>
    <div class="container border border-dark h-auto">
    <partial name="LoginPartial"></partial>
    </div>
</div>